* { 
  border: 1px solid black; 
  margin: 0;
  padding: 0;
}

#screen {
  display: flex;
  flex-flow: column wrap;
  gap: 0;
  justify-content: center;
  align-items: stretch;
  padding: 0;
  margin: 0;
  height: 200px;
  width: 200px;
}

.pixel {
  flex-grow: 1;
  flex-shrink: 1;
  gap: 0;
  margin: 0;
  width: 98px;
  height: 80px;
}